* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    display: flex;
    position: absolute;
    width: 550px;
    height: 91px;
    left: 0px;
    top: 0px;
    background: #21222A
}

.react-logo {
    position: absolute;
    width: 28.93px;
    height: 28.93px;
    left: 26px;
    top: 31px;
}

.container > h1 {
    position: absolute;
    width: 122.39px;
    height: 22.25px;
    left: 61.61px;
    top: 31px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22.2535px;
    line-height: 1px;
    letter-spacing: -0.05em;

    color: #61DAFB;
}

.container > h2 {
    position: absolute;
    width: 259px;
    height: 21px;
    left: 264px;
    top: 38px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1px;
    text-align: right;

    color: #DEEBF8;
}

.body-container {
    position: absolute;
    width: 681px;
    height: 459px;
    left: 0px;
    top: 91px;
}